*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFF7ED;
}

/* Nav */

header{
  display: flex;
  align-items: center;
  
  padding: 2em;
}

.logo{
  font-size: 2em;
  font-weight: 900;
  color: #000000;
  margin-right: auto;
  text-decoration: none;
}

header > a{
  font-weight: 600;
  color: #4D4D4D;
  text-decoration: none;
  padding: 0.3rem 1rem;
}


header > a:hover,
nav > a:hover{
  color: red;
  text-decoration: underline;
}

/* .about, .host{
  margin-right: 1em;
} */

/* layout */

.layout-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

/* Home */
.home-container{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("http://localhost:3000/bg-images/image54.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 2em;
}

.home-container > h1{
  font-size: 2.3em;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 0;
}

.home-container > p{
  color: #FFFFFF;
  text-align: left;
  font-weight: 500;
}

.home-container > .home-btn{
  width: 100%;
  padding: 1em;
  margin-top: 4em;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #FF8C38;
  cursor: pointer;
}

/* About */

.about-container{
 
  color: #161616;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.about-img{
  height: 220px;
  width: 100%;
}

.about-text{
  margin: 1em 2em ;
  text-align: start;
}

.about-text > h1{
  line-height: 1.2em;
  text-align: start;
}

.about-text > p{
  margin-bottom: 0;
}

.about-text > *:last-child{
  margin-top: 0;
}

.about-cta{
  width: calc(100% - 4em); /* Subtracts margin from both sides */
  margin: 2em 4em;  /* 20px margin on left and right */
  padding: 2em;
  font-size: 0.8em;
  line-height: 2.5em;
  text-align: start;
  background-color: #FFCC8D;
  border-radius: 5px;
}

.about-cta > h1{
  margin-top: 0;
}

.about-cta-btn{
  padding: 1em 2em;
  background-color: #161616;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* Footer */

footer{
  font-family: "Inter";
  background-color: #252525;
  color: #AAAAAA;
  text-align: center;
  padding: 1em;
  margin-top: auto;
}


/* Vans */

.vans-container{
  flex: 1;
  height: 100%;
}

.vans-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit)
}

.vans-header > h1{
  font-size: 2.3em;
  text-align: start;
}

.vans-filters-container{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.vans-filters-container > .van-filter{
  background-color: #FFEAD0;
  color: #4D4D4D;
  font-size: 1em;
  font-weight: 500;
  padding: 0.4em 1.5em;
  border-radius: 8px;
  text-align: center;

}

.vans-filters-container > .clr-filter{
  margin-left: 1em;
  text-decoration: underline;
  color: #4D4D4D;
  font-weight: 500;
}

.van-link{
  text-decoration: none;
  color: #161616;
}

.van-cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.van-card{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

/* Make sure image has 100% width of the container */
.van-img{
  max-width: 100%;
  border-radius: 8px;
}

.van-details{
  font-family: "Inter";
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  text-align: start;
}



.van-price{
  margin-bottom: 0;
}

.van-price-container > p{
  margin-top: 0;
  text-align: right;
}

.van-type{
  padding: 0.5em;
  margin-top: -1em;
  font-size: 1.2em;
  font-weight: 600;
  color: #FFEAD0;
  border-radius: 8px;
  width: 40%;
}

.simple{
  background-color: #E17654;
}

.luxury{
  background-color: #161616;
}

.rugged{
  background-color: #115E59;

}

/* Van Details */

.van-details-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 2rem;
  height: 100%;
}

.van-details-back-link{
  text-decoration: none;
}

.van-details-back{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}



.van-details-img{
 width: 100%;
 border-radius: 8px;
}

.van-details-type{
  padding: 0.5em;
  margin-top: 3em;
  font-size: 0.9em;
  font-weight: 600;
  color: #FFEAD0;
  border-radius: 8px;
  max-width: 25%;
}


.van-details-name{
  font-size: 2em;
  margin: 0.3em 0 0 0;
}

.van-details-price-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.van-details-price-container > p{
  font-size: 1.2em;
  font-weight: 400;
}

.van-details-desc{
  text-align: left;
  margin-top: 0;
  font-weight: 400;
}

.van-details-btn{

  padding: 1em 5em;
  margin: 1em 0 5em 0;
  width: 100%;
  max-width: 500px;
  background-color: #FF8C38;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}


/* Host */

.host-nav{
  display: flex;
}

.host-nav > a,
.host-van-details-nav > a{
    font-weight: 400;
    color: #4D4D4D;
    text-decoration: none;
    padding: 2rem;
    padding-left: 0;
}

nav a.active-link,
header a.active-link{
  color: #161616;
  text-decoration: underline;
  font-weight: 500;
}

.host-nav, 
.host-container{
  padding: 0 2rem;
}


/* Host Vans */

/* .host-van-container{
  display: flex;
  flex-direction: column;
} */
.host-container{
  margin-bottom: 3rem;
}

.host-container > h1{
  font-size: 2.5rem;
}

.host-van-container > a{
  color: #161616;
  text-decoration: none;
}

.host-van-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;  
}


.host-van-card > img{
  width: 100px;
  border-radius: 5px;
  margin-right: 1em;
}

.host-van-card{
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: white;
}

.host-van-name > h3{
  margin-bottom: 0;
}

.host-van-name > p{
  margin-top: 0.2em;
  color: #4D4D4D;
  font-weight: 500;
}


/* Host Van Details */

.host-van-details-back{
  display: flex;
  justify-content: start;
  align-items: center;
}

.host-van-details-back-link{
  text-decoration: none;
  color: #201F1D;
}

.host-van-details-container{
  background-color: #FFFFFF;
  padding: 1.5em;
  min-width: 430px;
}

.host-van-details-card{
  display: flex;
}

.host-van-details-card > img{
  width: 150px;
}

.host-van-details-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 1em;
}

.host-van-details-name > h1,
.host-van-details-name > p{
  margin: 0.3em 0;
}

.host-van-details-name > p{
  font-weight: 700;
}

.host-van-details-name > p > .day{
  font-size: 0.9rem;
  font-weight: 500;
}

.host-van-details-type{
  font-size: 0.7rem;
  padding: 0.4em 1em;
  border-radius: 5px;
  color: white;
  display: inline-block;
  align-self: flex-start;
}

.host-van-details-nav{
  margin: 1.5em 0;
}

/* Vans Details Sub */
.detail-name{
  font-weight: 500;
}

.detail-price{
  font-weight: 500;
}

.detail-price > span{
  font-size: 1.1rem;
  font-weight: 400;
  color: #4D4D4D;
}

.detail-photo{
  width: 120px;
  border-radius: 5px;

}