*{
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 100vh; /* Full viewport height */
}

html, body{
  height: 100vh;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF7ED;
  padding: 2em;
  
}

.logo{
  font-size: 2em;
  font-weight: 900;
  color: #000000;
}

.links-right > *{
  font-weight: 600;
  color: #4D4D4D;
}

.links-right > *:first-child{
  margin-right: 1em;
}

.logo, .links-right > *{
  text-decoration: none;

}

/* Main */

main{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Home */
.home-container{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("http://localhost:3000/bg-images/image54.png");
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2em;
}

.home-container > h1{
  font-size: 2.3em;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 0;
}

.home-container > p{
  color: #FFFFFF;
  text-align: left;
  font-weight: 500;
}

.home-container > .home-btn{
  width: 100%;
  padding: 1em;
  margin-top: 4em;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #FF8C38;
  cursor: pointer;
}

/* About */

.about-container{
  background-color: #FFF7ED;
  color: #161616;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.about-text, .about-cta{
  padding: 0 2em;
  text-align: start;
}

.about-img{
  height: 220px;
  width: 100%;
}

.about-text{
  margin-top: 1em;
}

.about-text > h1{
  line-height: 1.2em;
  text-align: start;
}

.about-text > p{
  margin-bottom: 0;
}

.about-text > *:last-child{
  margin-top: 0;
}

.about-cta{
  font-size: 0.8em;
  line-height: 2.5em;
  width: 100%;
  margin: 1em 1em;
  background-color: #FFCC8D;
}



/* Footer */

footer{
  font-family: "Inter";
  background-color: #252525;
  color: #AAAAAA;
  text-align: center;
  padding: 1em;
}